body{
    margin: 0;
}

/* 
    HEADER
*/
header{
    text-align: center;
    margin-bottom: 40px;
    background-color: #ef5350;
}
header a{
    width: 200px;
    display: block;
    margin: 0 auto;
}
header a img{
    width: 100%;
    /* height: 20%; */
}

/* 
    MAIN
*/
main{
    width: 60vw;
    margin: 0 auto;
}
.games{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

main .games a{
    display: block;
    text-decoration: none;
    width: 200px;
    height: 200px;
    position: relative;
    color: black;
    text-align: center;
}
main .game .hover-game{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(153, 153, 153,0.4);
    bottom:0;
    text-align: center;
    margin: auto auto;
    display: flex;
    perspective: 800px;
    transition: all ease-out 0.3s;
}
main .game .hover-game p{
    margin: auto;
    transition: all ease-out 0.3s;
}

main .games .game:hover .hover-game p{
    transform: translateZ(300px);
    color: red;
}
main .games .game:hover .hover-game{
    background-color: rgba(153, 153, 153,0.8);
}