body{
    margin: 0;
    font-family: 'Space Mono', monospace;


}

/* 
    HEADER
*/
header{
    text-align: center;
    margin-bottom: 40px;
    background-color: #ef5350;
}
header a{
    width: 200px;
    display: block;
    margin: 0 auto;
}
header a img{
    width: 100%;
    /* height: 20%; */
}

/* 
    MAIN
*/
main{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    height: 70vh;
}

/* FORMULAIRE CHOICE */
main .content-list{
    width: 50%;
    background-color: grey;
}
main .content-list ul{
    list-style-type: none;
    padding-left: 10px;
}
main .content-list h2{
    margin: 0;
    margin-bottom: 6px;
}
main .content-list .sub-list{
    margin-bottom: 10px;
}
main .content-list li{
    font-weight: bold;
    display: block;
}
main .content-list .sub-list li:hover img{
    display: block;
}
main .content-list .sub-list li{
    position: relative;
    display: table;
    cursor: pointer;
}
main .content-list .sub-list li img{
    display: none;
    width: 0.5rem;
    position: absolute;
    left: -12px;
    top:25%;
}
main .content-list .sub-list li img.show{
    display: block;
}

/* FORMULAIRE */
main .content-form{
    width: 50%;
    background-color: green;
    overflow-y: scroll;
    padding: 0 20px;
}

main .content-form .form{
    display: none;
}
main .content-form .show{
    display: block;
}

main .content-form .mode-numerique-content ol{
    margin-bottom: 0;
}
main .content-form .mode-numerique-content ol li a{
    text-decoration: none;
    color: black;
}
main .content-form .mode-numerique-content ol li a:hover{
    font-weight: bold;
}