body{
    margin: 0;
    font-family: 'Space Mono', monospace;
}

/* 
    HEADER
*/
header{
    text-align: center;
    margin-bottom: 40px;
    background-color: #ef5350;
}
header a{
    width: 200px;
    display: block;
    margin: 0 auto;
}
header a img{
    width: 100%;
    /* height: 20%; */
}

/* 
    MAIN
*/
main{
    width: 50vw;
    margin: 0 auto;
    
}
.games{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4vh; 
}

main .games a{
    display: block;
    text-decoration: none;
    width: 200px;
    height: 200px;
    position: relative;
    color: black;
    text-align: center;
}
main .games a img{
    width: 100%;
    margin-top: 15%;
}

main .game .hover-game{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(153, 153, 153,0.4);
    bottom:0;
    text-align: center;
    margin: auto auto;
    display: flex;
    perspective: 800px;
    transition: all ease-out 0.3s;
}
main .game .hover-game p{
    margin: auto;
    transition: all ease-out 0.3s;
    font-weight: bold;
}

main .games .game:hover .hover-game p{
    transform: translateZ(200px);
    color: red;
}
main .games .game:hover .hover-game{
    background-color: rgba(153, 153, 153,0.8);
}

/* 
    EXPLENATION SECTION PART
*/
section .explain{
    margin-bottom: 40px;
}
section p{
    margin-top: 5px;
}
section h3{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* 
    FOOTER
*/
footer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    background-color: #000;
    height: 3vh;
    width: 100%;
}
footer div{
    font-size: 0.8rem;
    margin: 0 auto;
    width: 60vw;
}